@use "vue-multiselect/dist/vue-multiselect.css";
@use "flatpickr/dist/flatpickr.min.css";
@use "alertifyjs/build/css/alertify.min.css";
@use "alertifyjs/build/css/themes/default.min.css";

@import "@tabler/core/src/scss/tabler.scss";
@import "@tabler/core/src/scss/demo.scss";

$ti-font-path: '/node_modules/@tabler/icons-webfont/fonts/';
@import "@tabler/icons-webfont/tabler-icons.scss";


@font-face {
    font-family: 'Inter';
    src: url('/resources/fonts/Inter-Regular.woff2') format('woff2'),
        url('/resources/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/resources/fonts/Inter-Bold.woff2') format('woff2'),
        url('/resources/fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Inter';
    src: url('/resources/fonts/Inter-Light.woff2') format('woff2'),
        url('/resources/fonts/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


form {
    margin: 0;
}
.font-inter {
    font-family: Inter;
}
:root {
    --tblr-font-sans-serif: "Helvetica Neue", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
    font-feature-settings: "cv03", "cv04", "cv11";
}


	
    	
.apexcharts-legend {	
    display: flex;	
    overflow: auto;	
    padding: 0 10px;	
  }	
  .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {	
    flex-wrap: wrap	
  }	
  .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
    flex-direction: column;	
    bottom: 0;	
  }	
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
    justify-content: flex-start;	
  }	
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {	
    justify-content: center;  	
  }	
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {	
    justify-content: flex-end;	
  }	
  .apexcharts-legend-series {	
    cursor: pointer;	
    line-height: normal;	
  }	
  .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series{	
    display: flex;	
    align-items: center;	
  }	
  .apexcharts-legend-text {	
    position: relative;	
    font-size: 14px;	
  }	
  .apexcharts-legend-text *, .apexcharts-legend-marker * {	
    pointer-events: none;	
  }	
  .apexcharts-legend-marker {	
    position: relative;	
    display: inline-block;	
    cursor: pointer;	
    margin-right: 3px;	
    border-style: solid;
  }	
      
  .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{	
    display: inline-block;	
  }	
  .apexcharts-legend-series.apexcharts-no-click {	
    cursor: auto;	
  }	
  .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {	
    display: none !important;	
  }	
  .apexcharts-inactive-legend {	
    opacity: 0.45;	
  }